<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996634496367-1a33e30im4gpfg2dr2rfv1m5lpugu3ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996634496367-1a33e30im4gpfg2dr2rfv1m5lpugu3ij</string>
	<key>API_KEY</key>
	<string>AIzaSyC6zCeUcmc-WZQWw9UU9Q9R7kAjVuoohjU</string>
	<key>GCM_SENDER_ID</key>
	<string>996634496367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.polykuzin.Knitting-2-0</string>
	<key>PROJECT_ID</key>
	<string>knitting-f824f</string>
	<key>STORAGE_BUCKET</key>
	<string>knitting-f824f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996634496367:ios:53da24df7d26b9ab02ac9a</string>
	<key>DATABASE_URL</key>
	<string>https://knitting-f824f.firebaseio.com</string>
</dict>
</plist>